/* GENERAL */
body {
    background: #eedd7a;
    font-family: helvetica;
}
.container {
    width: 80vw;
    height: 70vw;
    margin: 50px auto;
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ddd,
                -1px -1px 10px #ddd,
                1px -1px 10px #ddd,
                -1px 1px 10px #ddd;
}
.sidedata {
    width: 50%;
    background: #f9f9f9;
    border-radius: 0 10px 10px 0;
    padding: 15px;
    box-sizing: border-box;
    overflow: auto;
}
.sideimage {
    width: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
}
img#picture {
    display: block;
    margin: auto;
    border-radius: 20%;
    max-width:100%;
    max-height:100%;
}
/* index stylings */
div.indexwrap {
    width: 85vw;
    margin: 50px auto;
}
div.topwrap {
    width: 85vw;
    background-color: #ee8328;
    height: 10vh;
    border-radius: 5%;
    display: flex;
    align-items: center;
}
a.tet {
    height: 52px;
}
div.pokelist {
    display: flex;
    flex-wrap: wrap;
    width: 85vw;
    margin: 10px auto;
    justify-content: space-around;
    background-color: #207394;
}
img.sprite {
    display: inline-block;
    width: 125px;
    height: auto;
    border-radius: 20%;
    box-shadow: 1px 1px 10px #ddd,
                -1px -1px 10px #ddd,
                1px -1px 10px #ddd,
                -1px 1px 10px #ddd;
}
.button{
    background-color: #fdce10;
    border-radius: 8px;
    padding: 15px 32px;
    margin-left: 1em;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    color: black;
    
}
fieldset.fieldIdx{
    background-color: #e14318;
    overflow: scroll;
    max-width: 100px;
}
fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    background-color: lightcoral ;
}
legend {
    padding: 0px 10px;
    font-family: 'Oswald';
    font-weight: 700;
    background-color: 	#fdce10;
    border-radius: 15%;
    color: black;
}
h6 {
    border: 0px;
    padding: 0px;
    margin-block-end: 1em;
}

/* styling for the form in new ejs form */
h1 {
    font-family: 'Oswald';
    font-weight: 500;
    color: black;
    border-bottom: 2px solid lightcoral;
}
form  { 
    display: table;
}
p     { 
    display: table-row;  
}
label { 
    display: table-cell; 
}
input { 
    display: table-cell; 
}

.tab  { 
    display: table;
}
.tab-row     { 
    display: table-row;  
}
.tab-cell { 
    display: table-cell; 
}
